body {
    font-family: "GDS Transport", arial, sans-serif;
    background-color: #f3f2f1;
    margin: 0;
}

h1 {
    background-color: #115156;
    color: white;
    padding: 50px;
    text-align: center;
    margin: 0;
}

/* Profile picture styling */
.profile {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #115156;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

/* List styling */
.lab-list {
    padding: 0;
    margin: 30px 0;
    margin-left: 40px; /* Adds space to the left of the list */
    list-style: none; /* Remove default dots */
}

.lab-list li {
    margin: 15px 0; /* Adds spacing between items */
    font-weight: bold; 
    position: relative;
    padding-left: 25px; /* Adjust space for custom dot */
    transition: background-color 0.3s ease; /* Smooth background color change */
}

.lab-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Size of the dot */
    height: 10px; /* Size of the dot */
    background-color: #c51bb1; /* Color of the dots */
    border-radius: 50%; /* Make it a circle */
}

.lab-list a {
    color: #c51bb1; 
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease;
}

.lab-list a:hover {
    color: black;
    text-decoration: underline; /* Underline on hover */
}

.lab-list a:active {
    background-color: yellow; /* Background color when clicked */
    color: black; /* Text color remains black */
}

.horizontal {
    border: none;
    background-color: rgb(27, 96, 96);
    height: 10px;
    margin: 0;
}

footer {
    color: #666666;
    background-color: #D9DADF;
    padding: 10px;
    text-align: center;
    position: relative; /* Allows positioning of child elements */
}

.valid {
    position: absolute;
    right: 10px; /* Distance from the right edge */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.valid a {
    margin-left: 10px; /* Space between the icons */
}
